// *************************************
//
// Button
// -> All buttons
//
// *************************************

a.button {
  color: $c-black;
  text-transform: uppercase;
  border: 1px solid $c-light-grey;
  border-radius: 3px;
  padding: 16px 27px;
}

a.button {
  text-decoration: none;
}


.button-container {
  text-align: center;
}



#sidebar {
  .button-container {
    margin: 35px 0 20px 0;
    text-align: left;
  }
}
