// *************************************
//
// Header
// -> Main site header
//
// *************************************

header {
  height: 490px;
}

// ----- Top menu ----- //

.Top-menu {
  background-color: $c-black;
  position: relative;

  .phonenumber {
    float: right;
    text-align: right;

    p {
      color: $c-white;
      line-height: 1;
    }
  }
}

// ----- Header picture ----- //

.Menu-carousel {
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-repeat: none;
  height: 425px;
  width: 100%;
  text-align: center;

  .Carousel-content {
    display: inline-block;
    margin-top: 70px;
    background-color: rgba(255,255,255,0.6);
    padding: 10px 20px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);

    h2 {
      font-size: 30px;
      font-weight: 600;
      margin: 0px;
    }
  }
}







